html {
  font-family: "Fira Sans", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #f1f1f3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  font-size: 32px;
}

nav button {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid #006a50;
}

nav button a {
  text-decoration: none;
  color: #006a50;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 80px 100px;
}

.banner-content {
  padding: 0;
  margin: 0;
}
.banner-content h3 {
  font-size: 20px;
  color: #698f62;
}

.banner-content button {
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}

.banner-content button a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

/* Pillars section*/
.pillars {
  margin-top: 80px;
}

.pillars h3 {
  font-size: 40px;
}

.pillars-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pillars-card-1,
.pillars-card-2,
.pillars-card-3,
.pillars-card-4 {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: left;
  border-radius: 8px;
}

/*Vision*/

.vision {
  margin-top: 80px;
}
.vision h3 {
  font-size: 40px;
}
.vision p {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  color: #0e0e0e86;
}
.vision-card {
  display: flex;
  justify-content: space-between;
  gap: 33.33px;
}
.vision-card-1,
.vision-card-2,
.vision-card-3 {
  padding: 20px;
  text-align: left;
  border-radius: 8px;
}
.vision-card p {
  font-size: 16px;
}
.vision-card h4 {
  font-size: 20px;
}
.vision-card-1 button,
.vision-card-2 button,
.vision-card-3 button {
  padding: 11px 20px;
  text-align: left;
  border-radius: 8px;
  font-size: 18px;
  color: white;
}
.LM-blue {
  background-color: #5490f5;
  border: none;
}
.LM-green {
  background-color: #09a15c;
  border: none;
}
.LM-yellow {
  background-color: #ffc239;
  border: none;
}

/*Opinion Matters*/
.opinion h3 {
  margin-top: 80px;
  font-size: 40px;
}
.opinion-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
}
.right-text button {
  display: block;
  margin: 20px 0;
  padding: 12px 52.5px 12px 16px;
  border-radius: 4px;
  border: none;
  background-color: #09a15d52;
}
.right-text button a {
  text-decoration: none;
  color: black;
}
.bg-color-green {
  background-color: #c6e4d6;
}
.left-text,
.right-text {
  padding: 10px;
}

/*News section*/
.news h3 {
  font-size: 40px;
}
.news p {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  color: #0e0e0e86;
}

.news-container-1,
.news-container-2 {
  display: flex;
  /* gap: 50px; */
  background-color: white;
  border-radius: 24px;
}

.news-container-2 {
  margin: 24px 0;
}

.satellite {
  padding: 40px 32px 48px 48px;
}
.satellite img {
  border-radius: 24px;
}
.news-content {
  width: 50%;
}
.news-content img,
.news-content-2 img {
  display: block;
}
.news-content h3,
.news-content-2 h3 {
  font-size: 32px;
  padding-top: 5px;
  color: black;
}
time {
  padding-top: 12px;
  display: block;
  font-size: 18px;
  color: #0e0e0e73;
}
.news-content p,
.news-content-2 p {
  font-size: 16px;
  color: #0e0e0e73;
}
.news-content button,
.news-content-2 button {
  padding: 13px 26px;
  background-color: #006a50;
  border-radius: 8px;
  border: none;
}
.news-content button a,
.news-content-2 button a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.news-content-2 {
  padding: 40px 32px 48px 48px;
}
